<div class="panel panel-custom">
  <div class="panel-heading">
    <h3 class="titmedia panel-title">Acerca del autor</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <% if @autor.foto %>
          <%= image_tag "autores/"+@autor.foto, :class=>"img-thumbnail" %>
        <% end %>
      </div>
      <div class="titext col-md-10">
        <h3><%= @autor.nombre %></h3>
        <p class="more titext text-justify"><%= @autor.descripcion %></p>
      </div>
    </div>
    <br>
    <% i = 1 %>
    <div class="row">
      <h4 class="titgde text-danger text-center">Libros del autor</h4>
      <% @libros.each do |libro| %>
        <% libro.titulo.autor.each do |aut| %>
          <% if (aut == @autor) %>
            <% if (i <= 6) %>
              <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                  <%= link_to image_tag("portadas/"+libro.portada, :class=>"img-responsive"), home_libro_path(:id => libro) %>
                  <div class="caption">
                    <h6 class="media-heading text-center">
                      <%= link_to libro.titulo, home_libro_path(:id => libro), :class=>"titlibro" %>
                    </h6>
                    <h6 class="media-heading text-center">
                      <% libro.titulo.autor.each do |a| %>
                        <%= link_to a, home_autor_path(:id => a), :class=>"titautor" %><% if !(a == libro.titulo.autor.last) %>,<br><% end %>
                      <% end %>
                    </h6>
                  </div>
                </div>
              </div>
            <% else %>         
              </div>
              <div class="row">
                <% i = 1 %>
                <div class="col-sm-6 col-md-2">
                  <div class="thumbnail">
                    <%= link_to image_tag("portadas/"+libro.portada, :class=>"img-responsive"), home_libro_path(:id => libro) %>
                    <div class="caption">
                      <h6 class="media-heading text-center">
                        <%= link_to libro.titulo, home_libro_path(:id => libro), :class=>"titlibro" %>
                      </h6>
                      <h6 class="media-heading text-center">
                        <% libro.titulo.autor.each do |aut| %>
                          <%= link_to aut, home_autor_path(:id => aut), :class=>"titautor" %><% if !(aut == libro.titulo.autor.last) %>,<br><% end %>
                        <% end %>
                      </h6>
                    </div>
                  </div>         
                </div>
            <% end %>
            <% i += 1 %>  
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="titnotas text-center">Los contenidos gráficos y textuales usados en la biografía de los autores fueron extraídos de Wikipedia y/o otros sitios Web en Internet.<br>Por lo tanto NO forman parte de la autoría de Llevo Libros y solo son utilizados para dar a conocer la trayectoria y obras del autor.</div>