<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acerca de la editorial</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5 text-center">
        <% if @editor.logo %>
          <%= link_to image_tag("editores/"+@editor.logo), @editor.web, target: "_blank" %>
        <% end %>
      </div>
      <div class="col-md-7">
        <p class="text-justify"><%= @editor.descripcion %></p>
      </div>
    </div>
    <br>
    <% i = 1 %>
    <div class="row">
      <h4 class="text-danger text-center">Libros de la editorial</h4>
      <% @libros.each do |libro| %>
        <% if (libro.editor == @editor) %>
          <% if (i <= 6) %>
            <div class="col-sm-6 col-md-2">
              <div class="thumbnail">
                <%= link_to image_tag("portadas/"+libro.portada, :size=>"100x150"), home_libro_path(:id => libro.titulo) %>
                <div class="caption">
                  <h5 class="media-heading">
                    <%= link_to libro.titulo, home_libro_path(:id => libro.titulo) %>
                  </h5>
                  <h6 class="media-heading">
                    <% libro.titulo.autor.each do |aut| %>
                      <%= link_to aut, home_autor_path(:id => aut) %><% if !(aut == libro.titulo.autor.last) %>,<br><% end %>
                    <% end %>
                  </h6>
                </div>
              </div>
            </div>
          <% else %>         
            </div>
            <div class="row">
            <% i = 1 %>
            <div class="col-sm-6 col-md-2">
              <div class="thumbnail">
                <%= link_to image_tag("portadas/"+libro.portada, :size=>"100x150"), home_libro_path(:id => libro.titulo) %>
                <div class="caption">
                  <h5 class="media-heading">
                    <%= link_to libro.titulo, home_libro_path(:id => libro.titulo) %>
                  </h5>
                  <h6 class="media-heading">
                    <% libro.titulo.autor.each do |aut| %>
                      <%= link_to aut, home_autor_path(:id => aut) %><% if !(aut == libro.titulo.autor.last) %>,<br><% end %>
                    <% end %>
                  </h6>
                </div>
              </div>         
            </div>
          <% end %>
          <% i += 1 %> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>