<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Acerca de la editorial</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <table class="table">
        <tr>
          <td>
            <% if @editor.logo %>
              <%= link_to image_tag("editores/"+@editor.logo), @editor.web, target: "_blank" %>
            <% end %>
          </td>
          <td>
            <p class="text-justify"><%= @editor.descripcion %></p>
            <!--<p class="text-justify"><%= link_to "Visitar página Web", @editor.web, target: "_blank", class: "btn btn-large btn-default" %></p>-->
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h4 class="text-danger text-center">Libros de la editorial</h4>
      <% @libros.each do |libro| %>
        <% if (libro.editor == @editor) %>
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <%= link_to image_tag("portadas/"+libro.portada, :size=>"100x150"), home_libro_path(:id => libro.titulo) %>
              <div class="caption">
                <h5 class="media-heading">
                  <%= link_to libro.titulo, home_libro_path(:id => libro.titulo) %>
                </h5>
                <h6 class="media-heading">
                  <% libro.titulo.autor.each do |aut| %>
                    <%= link_to aut, home_autor_path(:id => aut) %>
                    <% if !(aut == libro.titulo.autor.last) %>,<br><% end %>
                  <% end %>
                </h6>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>