<% t = Time.now %>
<p class="titext text-justify">La función principal de Llevo Libros es buscar en librerías, editoriales o tiendas de coleccionismo el libro que te interesa para llevarlo hasta donde te encuentres; evitando que inviertas tiempo y esfuerzo en buscarlo o en trasladarte a las librerías y centros comerciales para adquirirlo.</p>
<p class="titext text-justify">La búsqueda de libros es tanto local, nacional como en el extranjero, y los entregamos a nuestros clientes dentro de la Zona Metropolitana de Monterrey o bien, realizamos envíos a otras partes del país. Solicita un libro <%= link_to "aquí", home_solicita_path %> o revisa nuestro catálogo, así como las novedades literarias del mes.</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="titgde panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <% num = 0 %>
      <% @libros.each do |libro| %>
        <% if (libro.titulo.aniopub == t.strftime("%Y")) && (libro.publico) %>
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <%= link_to image_tag("portadas/"+libro.portada, :class=>"img-responsive"), home_libro_path(:id => libro) %>
              <div class="caption">
                <h6 class="media-heading text-center">
                  <%= link_to libro.titulo, home_libro_path(:id => libro), :class=>"titlibro" %>
                </h6>
                <h6 class="media-heading text-center">
                  <% libro.titulo.autor.each do |aut| %>
                    <%= link_to aut, home_autor_path(:id => aut), :class=>"titautor" %><% if !(aut == libro.titulo.autor.last) %>,<br><% end %>
                  <% end %>
                </h6>
              </div>
            </div>
          </div>
          <% num += 1 %>
        <% end %>
        <% break if num > 5 %>
      <% end %>
    </div>
  </div>
</div>