<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @titulo.categoria.nombre %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <% @libros.each do |libro| %>
        <% if libro.titulo == @titulo %>
          <tr>
            <td width="40%">
              <%= image_tag "portadas/"+libro.portada, :class=>"img-responsive" %>       
            </td>
            <td width="60%">
              <h3><%= libro.titulo.nombre %></h3>
              <h3 class="panel-title"><%= libro.titulo.balazo %></h3><br>
              <h5>
                <span class="text-info">Autor(es):</span> 
                <% @titulo.autor.each do |aut| %>
                  <%= link_to aut, home_autor_path(:id => aut.id) %>
                  <% if !(aut == @titulo.autor.last) %>/<% end %>
                <% end %>
              </h5>
              <p><span class="text-info">Editorial:</span> <%=  link_to libro.editor, home_editor_path(:id => libro.editor) %></p>
              <p><span class="text-info">Páginas:</span> <%= libro.paginas %></p>
              <p><span class="text-info">Edición:</span> <%= libro.edicion %></p>
              <p><span class="text-info">Año:</span> <%= libro.fechapub %></p>
              <% if !libro.pais.nil? %>
                <p><span class="text-info">País:</span> <%= libro.pais %></p>
              <% end %>
              <p><span class="text-info">Idioma:</span> <%= libro.idioma %></p>
              <p><span class="text-info">Formato:</span> <%= libro.formato %></p>
              <% if !libro.isbn10.empty? %>
                <p><span class="text-info">ISBN10:</span> <%= libro.isbn10 %></p>
              <% end %>  
              <p><span class="text-info">ISBN:</span> <%= libro.isbn13 %></p>
              <p><span class="text-info">EAN:</span> <%= libro.ean %></p>
              <% if !libro.peso.nil? %>
                <p><span class="text-info">Peso:</span> <%= libro.peso %> gramos</p>
              <% end %>
              <% if !libro.medidas.empty? %>
                <p><span class="text-info">Medidas:</span> <%= libro.medidas %></p>
              <% end %>
              <p class="text-danger">Libro <%= libro.condicion %></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="text-justify"><%= libro.titulo.descripcion %></p>
            </td>  
          </tr>
          <% break %>
        <% end %>
      <% end %>
    </table>	
  </div>
</div>