<h1>Listing libros</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Editor</th>
      <th>Paginas</th>
      <th>Edicion</th>
      <th>Fechapub</th>
      <th>Pais</th>
      <th>Idioma</th>
      <th>Formato</th>
      <th>Isbn10</th>
      <th>Isbn13</th>
      <th>Ean</th>
      <th>Peso</th>
      <th>Medidas</th>
      <th>Portada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |lib| %>
      <tr>
        <td><%= lib.titulo_id %></td>
        <td><%= lib.editor_id %></td>
        <td><%= lib.paginas %></td>
        <td><%= lib.edicion %></td>
        <td><%= lib.fechapub %></td>
        <td><%= lib.pais_id %></td>
        <td><%= lib.idioma_id %></td>
        <td><%= lib.formato_id %></td>
        <td><%= lib.isbn10 %></td>
        <td><%= lib.isbn13 %></td>
        <td><%= lib.ean %></td>
        <td><%= lib.peso %></td>
        <td><%= lib.medidas %></td>
        <td><%= lib.portada %></td>
        <td><%= link_to 'Show', lib %></td>
        <td><%= link_to 'Edit', edit_libro_path(lib) %></td>
        <td><%= link_to 'Destroy', lib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>
