<!DOCTYPE html>
<html lang = "es">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @titulo %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "defaults" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<br><%= image_tag "logo.png", :alt=>"Llevo Libros", :class=>"img-responsive" %><br>
			</div>
			<div class="col-md-8">
				<div class="nav navbar-nav navbar-right">
					<a href="#">Enlace #1</a> |
					<a href="#">Enlace #2</a> |
					<a href="#">Enlace #3</a>
    			</div>
			</div>
		</div>

		<nav class="navbar navbar-default" role="navigation">
  			<!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      			<span class="sr-only">Navegación</span>
      			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			</button>
    			<%= link_to "", root_path, :class=>"navbar-brand glyphicon glyphicon-home" %>
  			</div>
			<!-- Agrupar los enlaces de navegación, los formularios y cualquier otro elemento que se pueda ocultar al minimizar la barra -->

		</nav>
    <div class="col-md-3">
      <% if @categorias.any? %>
        <h4 class="text-info">Temática</h4>
        <% @categorias.sort_by{|x| x.nombre}.each do |categoria| %>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to categoria.nombre, home_catalogo_path(:id => categoria.id), :title => categoria.descripcion %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
	</div>
</body>
</html>